<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	
	<head data-th-replace="~{/layouts/header :: head}"></head>
	
	<body>
	    
	    <!-- Encabezado -->
		<header data-th-replace="~{/layouts/header :: header}" ></header>
		
		<div class="container">
			
		<!-- Barra de Navegacion-->
		<nav data-th-replace="~{/layouts/header :: navbar}"></nav>
        
        <!-- Tabla de Listado de Carreras-->
        
        <div class="row">
			
			<div class="col col-sm-12 fondo-form p-5">
				
				<div class="row mb-5">
					
					<!-- Alerta -->
					<div th:if="${exito}" class="alert alert-success alert-dismissible fade show" role="alert">
						
						<strong data-th-text="${mensaje}"></strong>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						
					</div>
					<div th:if="${!exito && mensaje != '' }" class="alert alert-danger alert-dismissible fade show" role="alert">
						
						<strong data-th-text="${mensaje}"></strong>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						
					</div>
					<!-- Botón Agregar -->
					
					<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
						
						 <a class="btn btn-primary" data-th-href="@{/carrera/nuevo}" role="button">Agregar Nueva Carrera</a>
						
					</div>
					
					<table class="table table-striped table-hover">
						
						  <thead class="text-center">
						    <tr>
						      <th scope="col">Código</th>
						      <th scope="col">Nombre</th>
						      <th scope="col">Duración</th>
						      <th scope="col">Estado</th>
						      <th scope="col">Opciones</th>
						    </tr>
						  </thead>
						  <tbody class="table-group-divider">
						    <tr class="text-center" data-th-each="carrera : ${carreras}">
						      <td data-th-text="${carrera.codigo}"></td>
						      <td data-th-text="${carrera.nombre}"></td>
						      <td data-th-text="${carrera.cantAnios}+' años'"></td>
						      <td >
								  <span th:if="${carrera.estado}">Activa</span>
								  <span th:if="${!carrera.estado}">Inactiva</span>
							  </td> 
							  <td ><!-- Botones para Modificar o Eliminar -->
								  <a class="btn btn-warning" data-th-href="@{/carrera/modificar/}+${carrera.codigo}" role="button">Editar</a>
								  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" th:data-codCarrera="${carrera.codigo}">Eliminar</button>
							  </td>
						    </tr>
						    
						  </tbody>
					</table>
					
				</div>
				
			</div>
			
		</div>
        
	    <!-- Pie de Pagina -->
		<footer data-th-replace="~{/layouts/footer :: footer}" ></footer>
		
		</div>
		
		<!-- Modal -->
		<div class="modal fade" th:id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
			
			<div class="modal-dialog" role="document">
				
				<div class="modal-content">
					
					<div class="modal-header">
						
						<h5 class="modal-title fs-5" id="deleteModalLabel">Confirmar Eliminación</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						
					</div>
					<div class="modal-body">
							¿Estás seguro de que desea eliminar esta materia?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
						<form th:action="@{/carrera/eliminar/{codCarrera=${selectedCodCarrera}}}" method="get">
							<button type="submit" class="btn btn-danger">Eliminar</button>
						</form>
						
					</div>
				</div>
			</div>
		</div>
		
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				var deleteModal = document.getElementById('deleteModal');
				deleteModal.addEventListener('show.bs.modal', function (event) {
					var button = event.relatedTarget;
					var codCarrera = button.getAttribute('data-codcarrera');
					var form = deleteModal.querySelector('form');
					form.setAttribute('action', '/carrera/eliminar/' + codCarrera);
				});
			});
		</script>
		
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		
	    
	</body>
	
</html>