<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	
	<head data-th-replace="~{/layouts/header :: head}"></head>
	
	<body>
	    
	    <!-- Encabezado -->
		<header data-th-replace="~{/layouts/header :: header}" ></header>
		
		<div class="container">
			
		<!-- Barra de Navegacion-->
		<nav data-th-replace="~{/layouts/header :: navbar}"></nav>
        
        
        <!-- Formulario para Carrera-->
        
        <div class="row py-5 m col-12 d-flex aling-items-center justify-content-center">
			
			<div class="row mb-5">
				<h2 data-th-text="${edicion}?'Modificar Carrera':'Nueva Carrera'" class="text-center"></h2>
			</div>
				
				<form data-th-action="${edicion}?@{/carrera/modificar} : @{/carrera/guardar}" th:object="${carrera}" method="post"
				class="container-fluid py-5 mb-5 row col-10 col-md-7 d-flex flex-column align-items-center rounded-4 border border-4 border-primary bg-light f" >
					
					<div class="row mb-3 justify-content-center" th:if="${edicion}" >
						
						<label for="codigo" class="col-sm-12 col-lg-2 col -form-label text-lg-end">Código</label>
						<div class="col-sm-12 col-lg-4">
							<!-- <input type="number" class="form-control" id="codigo" th:field="*{codigo}" th:disabled="${edicion}?true:false"> 
							<input type="number" class="form-control" id="codigo" th:field="*{codigo}" th:disabled="${edicion}?true:false">
							<input type="hidden" class="form-control" id="codigo" th:field="*{codigo}" th:if="${edicion}"> -->
							<input type="hidden" th:field="*{codigo}">
				       		<input type="text" class="form-control" th:value="*{codigo}" disabled>
						</div>
						
					</div>
					
					<div class="row mb-3 justify-content-center">
						
						<label for="nombre" class="col-sm-12 col-lg-2 col -form-label text-lg-end">Nombre</label>
						<div class="col-sm-12 col-lg-4">
							<input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Nombre de la Carrera" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
							<div th:if="${#fields.hasErrors('nombre')}">
								<ul class="p-0">
									<li class="bg-danger p-1 rounded text-light text-center my-1 list-group-item" th:each="error : ${#fields.errors('nombre')}" th:text="${error}" ></li>
								</ul>
							</div>
						</div>
						
					</div>
					
					<div class="row mb-3 justify-content-center">
						
						<label for="cantAnios" class="col-sm-12 col-lg-2 col -form-label text-lg-end">Duración</label>
						<div class="col-sm-12 col-lg-4">
							<input type="number" class="form-control" id="cantAnios" th:field="*{cantAnios}" placeholder="Cantidad de Años de la Carrera" th:classappend="${#fields.hasErrors('cantAnios')} ? 'is-invalid' : ''">
							<p class="form-text text-danger" th:if="${#fields.hasErrors('cantAnios')}"  th:errors="*{cantAnios}"></p> 
							<div th:if="${#fields.hasErrors('cantAnios')}">
								<ul class="p-0">
									<li class="bg-danger p-1 rounded text-light text-center my-1 list-group-item" th:each="error : ${#fields.errors('cantAnios')}" th:text="${error}" ></li>
								</ul>
							</div>
						</div>
						
					</div>
					
					<div class="row mb-3 justify-content-center" th:if="${edicion}">
						
						<label for="estado" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Estado</label>
						<div class="col-sm-12 col-lg-4">
							<input class="form-check-input" type="radio" th:field="*{estado}" value="true" name="radioActiva" id="radioActiva">
							<label class="form-check-label" for="radioActiva">Activa</label>
							
							<input class="form-check-input" type="radio" th:field="*{estado}" value="false" name="radioInactiva" id="radioInactiva">
							<label class="form-check-label" for="radioInactiva">Inactiva</label>
						</div>
						
					</div>
						
					<div class="row mb-3 justify-content-center">
					    <div class="col-12 text-center">
					        <p class="text-center">
					            <input type="submit" class="btn btn-primary col-3 b" th:value="${edicion}?'Modificar':'Guardar'">
					        </p>
					        <p class="text-center mt-3">
					            <a th:href="@{/carrera/listado}" id="cancel" name="cancel" class="btn btn-secondary col-3 b">Cancelar</a>
					        </p>
					    </div>
					</div>

				</form>
				
		</div>
        
	    <!-- Pie de Pagina -->
		<footer data-th-replace="~{/layouts/footer :: footer}" ></footer>
		
		</div>
		
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		
	    
	</body>
	
</html>