<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	
	<head data-th-replace="~{/layouts/header :: head}"></head>
	
	<body>
	    
	    <!-- Encabezado -->
		<header data-th-replace="~{/layouts/header :: header}" ></header>
		
		<div class="container">
			
		<!-- Barra de Navegacion-->
		<nav data-th-replace="~{/layouts/header :: navbar}"></nav>
        
        
        <!-- Formulario para Materia-->
        
        <div class="row py-5 m col-12 d-flex aling-items-center justify-content-center">
			
			<div class="row mb-5">
				<h2 data-th-text="${edicion}?'Modificar Materia':'Nueva Materia'" class="text-center"></h2>
			</div>
			
			<!--<div class="row">			 Formulario para Materia-->
				
				<form data-th-action="${edicion}?@{/materia/modificar} : @{/materia/guardar}" th:object="${materia}" method="post" 				
					class="container-fluid py-5 mb-5 row col-10 col-md-7 d-flex flex-column align-items-center rounded-4 border border-4 border-primary bg-light f">
					
					
					 <div class="row mb-3 justify-content-center" th:if="${edicion}">
					    <label for="codigo" class="col-sm-12 col-lg-2 col-form-label text-lg-stard">Código</label>
					    <div class="col-sm-12 col-lg-4">
					         <input type="hidden" th:field="*{codigo}">
					        <input type="text" class="form-control" th:value="*{codigo}" disabled>
					    </div>
					 </div>
					
					<div class="row mb-3 justify-content-center">
						
						<label for="nombre" class="col-sm-12 col-lg-2 col-form-label text-lg-stard">Nombre:</label>
						<div class="col-sm-12 col-lg-4">
							<input type="text" class="form-control" id="nombre" th:field="*{nombre}" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
							<div th:if="${#fields.hasErrors('nombre')}">
								<ul class="p-0">
									<li class="bg-danger p-1 rounded text-light text-center my-1 list-group-item" th:each="error : ${#fields.errors('nombre')}" th:text="${error}" ></li>
								</ul>
							</div>
						</div>
						
					</div>
					
					<div class="row mb-3 justify-content-center">
						
						<label for="curso" class="col-sm-12 col-lg-2 col-form-label text-lg-stard">Curso</label>
						<div class="col-sm-12 col-lg-4">
							
							<select name="curso" id="curso" class="form-select" th:classappend="${#fields.hasErrors('curso')} ? 'is-invalid' : ''">
								<option value="" selected disabled>Seleccione un Curso</option>
								<option th:field="*{curso}" value="PRIMERO">Primero</option>
								<option th:field="*{curso}" value="SEGUNDO">Segundo</option>
								<option th:field="*{curso}" value="TERCERO">Tercero</option>
								<option th:field="*{curso}" value="CUARTO">Cuarto</option>
								<option th:field="*{curso}" value="QUINTO">Quinto</option>
								
							</select>
							<div th:if="${#fields.hasErrors('curso')}">
								<ul class="p-0">
									<li class="bg-danger p-1 rounded text-light text-center my-1 list-group-item" th:each="error : ${#fields.errors('curso')}" th:text="${error}" ></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="row mb-3 justify-content-center">
						
						<label for="horas" class="col-sm-12 col-lg-2 col-form-label text-lg-stard">Cantidad de Horas</label>
						<div class="col-sm-12 col-lg-4">
							<input type="number" class="form-control" id="horas" th:field="*{cantidadHoras}" th:classappend="${#fields.hasErrors('cantidadHoras')} ? 'is-invalid' : ''">
							<div th:if="${#fields.hasErrors('cantidadHoras')}">
								<ul class="p-0">
									<li class="bg-danger p-1 rounded text-light text-center my-1 list-group-item" th:each="error : ${#fields.errors('cantidadHoras')}" th:text="${error}" ></li>
								</ul>
							</div>
						</div>
						
					</div>
					
					<div class="row mb-3 justify-content-center">

						<label for="modalidad" class="col-sm-12 col-lg-2 col-form-label text-lg-stard">Modalidad</label>
						<div class="col-sm-12 col-lg-4">
							
							<select name="modalidad" id="modalidad" class="form-select"  th:classappend="${#fields.hasErrors('modalidad')} ? 'is-invalid' : ''">
								
					            <option value="" disabled selected>Seleccione la Modalidad</option>
					            <option th:field="*{modalidad}" th:value="${T(ar.edu.unju.fi.model.Materia$Modalidad).VIRTUAL}">Virtual</option>
								<option th:field="*{modalidad}" th:value="${T(ar.edu.unju.fi.model.Materia$Modalidad).PRESENCIAL}">Presencial</option>
								<option th:field="*{modalidad}" th:value="${T(ar.edu.unju.fi.model.Materia$Modalidad).MIXTA}">Mixta</option>

					            
					        </select>
							 <div th:if="${#fields.hasErrors('modalidad')}">
 								<ul class="p-0">
 									<li class="bg-danger p-1 rounded text-light text-center my-1 list-group-item" th:each="error : ${#fields.errors('modalidad')}" th:text="${error}" ></li>
 								</ul>
 							</div>
						</div>
					</div>
					
					<div class="row mb-3 justify-content-center">
					    <label for="docente" class="col-sm-12 col-lg-2 col-form-label text-lg-stard">Docente</label>
					    <div class="col-sm-12 col-lg-4">
					        <select class="form-select" id="docente" name="docente" th:field="*{docente.legajo}">
					            <option value="-1">Seleccione un Docente</option>
					            <option th:each="docente : ${docentes}" th:value="${docente.legajo}" th:text="${docente.nombre} + ' ' + ${docente.apellido}"></option>
					        </select>
							<div th:if="${#fields.hasErrors('docente.legajo')}">
 								<ul class="p-0">
 									<li class="bg-danger p-1 rounded text-light text-center my-1 list-group-item" th:each="error : ${#fields.errors('docente.legajo')}" th:text="${error}" ></li>
 								</ul>
 							</div>
					    </div>
					</div>

					
					<div class="row mb-3 justify-content-center">
						
						<label for="carrera" class="col-sm-12 col-lg-2 col-form-label text-lg-stard">Carrera</label>
						<div class="col-sm-12 col-lg-4">
							
							<select id="carrera" name="carrera" class="form-select" th:field="*{carrera.codigo}">
								<option value="-1">Seleccione una Carrera</option>
								<option th:each="carre : ${carreras}" th:value="${carre.codigo}" th:text="${carre.nombre}"></option>
							</select>
							 <div th:if="${#fields.hasErrors('carrera.codigo')}">
  								<ul class="p-0">
  									<li class="bg-danger p-1 rounded text-light text-center my-1 list-group-item" th:each="error : ${#fields.errors('carrera.codigo')}" th:text="${error}" ></li>
  								</ul>
  							</div>
						</div>
						
					</div>
						
					<p class="text-center"><input type="submit" class="btn btn-primary col-3 b" th:value="${edicion}?'Modificar':'Guardar'"></p>
					
				</form>
				
			<!--</div>-->
			
		</div>
        
	    <!-- Pie de Pagina -->
		<footer data-th-replace="~{/layouts/footer :: footer}" ></footer>
		
		</div>
		
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		
	    
	</body>
	
</html>