<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	
	<head data-th-replace="~{/layouts/header :: head}"></head>
	
	<body>
	    
	    <!-- Encabezado -->
		<header data-th-replace="~{/layouts/header :: header}" ></header>
		
		<div class="container">
			
		<!-- Barra de Navegacion-->
		<nav data-th-replace="~{/layouts/header :: navbar}"></nav>
        
        
        <!-- Formulario para Materia-->
        
        <div class="row py-5 m">
			
			<div class="row mb-5">
				<h2 data-th-text="${edicion}?'Modificar Materia':'Nueva Materia'" class="text-center"></h2>
			</div>
			
			<div class="row">
				
				<form data-th-action="${edicion}?@{/materia/modificar} : @{/materia/guardar}" th:object="${materia}" method="post">
					
					<div class="row mb-3 justify-content-center">
						
						<label for="codigo" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Código</label>
						<div class="col-sm-12 col-lg-4">
							<input type="number" class="form-control" id="codigo" th:field="*{codigo}" th:disabled="${edicion}?true:false" required min="1" max="50">
							<input type="hidden" class="form-control" id="codigo" th:field="*{codigo}" th:if="${edicion}">
						</div>
						
					</div>
					
					<div class="row mb-3 justify-content-center">
						
						<label for="nombre" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Nombre</label>
						<div class="col-sm-12 col-lg-4">
							<input type="text" class="form-control" id="nombre" th:field="*{nombre}" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
							<p class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"  th:errors="*{nombre}"></p> 
						</div>
						
					</div>
					
					<div class="row mb-3 justify-content-center">
						
						<label for="curso" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Curso</label>
						<div class="col-sm-12 col-lg-4">
							
							<select name="curso" id="curso" class="form-select" th:field="*{curso}" th:classappend="${#fields.hasErrors('curso')} ? 'is-invalid' : ''">
								
								<option value="" disabled selected>Selecciona un Curso</option>
								<option th:value="PRIMERO">Primero</option>
								<option th:value="SEGUNDO">Segundo</option>
								<option th:value="TERCERO">Tercero</option>
								<option th:value="CUARTO">Cuarto</option>
								<option th:value="QUINTO">Quinto</option>
								
							</select>
							<p class="form-text text-danger" th:if="${#fields.hasErrors('curso')}"  th:errors="*{curso}"></p> 
						</div>
					</div>
					
					<div class="row mb-3 justify-content-center">
						
						<label for="horas" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Cantidad de Horas</label>
						<div class="col-sm-12 col-lg-4">
							<input type="number" class="form-control" id="horas" th:field="*{cantidadHoras}" th:classappend="${#fields.hasErrors('cantidadHoras')} ? 'is-invalid' : ''">
						    <p class="form-text text-danger" th:if="${#fields.hasErrors('cantidadHoras')}"  th:errors="*{cantidadHoras}"></p> 
						</div>
						
					</div>
					
					<div class="row mb-3 justify-content-center">

						<label for="modalidad" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Modalidad</label>
						<div class="col-sm-12 col-lg-4">
							
							<select name="modalidad" id="modalidad" class="form-select" th:field="*{modalidad}" th:classappend="${#fields.hasErrors('modalidad')} ? 'is-invalid' : ''">
								
					            <option value="" disabled selected>Selecciona la Modalidad</option>
					            <option th:value="${T(ar.edu.unju.fi.model.Materia$Modalidad).VIRTUAL}">Virtual</option>
								<option th:value="${T(ar.edu.unju.fi.model.Materia$Modalidad).PRESENCIAL}">Presencial</option>
								<option th:value="${T(ar.edu.unju.fi.model.Materia$Modalidad).MIXTA}">Mixta</option>

					            
					        </select>
							 <p class="form-text text-danger" th:if="${#fields.hasErrors('modalidad')}"  th:errors="*{modalidad}"></p> 
						</div>
					</div>
					
					<div class="row mb-3 justify-content-center">
						
						<label for="docente" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Docente</label>
						<div class="col-sm-12 col-lg-4">
							
							<select id="docente" name="docente" class="form-select" th:field="*{docente.legajo}" th:classappend="${#fields.hasErrors('docente')} ? 'is-invalid' : ''">
								<!--<option value="" disabled selected>Seleccione un Docente</option>-->
								<!-- CollectionDocente -->
								<option th:each="docent : ${docentes}" th:value="${docent.legajo}" th:text="${docent.nombre + ' ' + docent.apellido}"></option>
							</select>
							<!--<input type="text" class="form-control" id="docente" th:field="*{docente}">-->
							 <p class="form-text text-danger" th:if="${#fields.hasErrors('docente')}"  th:errors="*{docente}"></p> 
						</div>
						
					</div>
					
					<div class="row mb-3 justify-content-center">
						
						<label for="carrera" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Carrera</label>
						<div class="col-sm-12 col-lg-4">
							
							<select id="carrera" name="carrera" class="form-select" th:field="*{carrera.codigo}" th:classappend="${#fields.hasErrors('carrera')} ? 'is-invalid' : ''">
								<!--<option value="" disabled selected>Seleccione una Carrera</option>-->
								<!-- CollectionCarrera -->
								<option th:each="carre : ${carreras}" th:value="${carre.codigo}" th:text="${carre.nombre}"></option>
							</select>
							<!--<input type="text" class="form-control" id="carrera" th:field="*{carrera}">-->
							 <p class="form-text text-danger" th:if="${#fields.hasErrors('carrera')}"  th:errors="*{carrera}"></p> 
						</div>
						
					</div>
						
					<p class="text-center"><input type="submit" class="btn btn-primary" th:value="${edicion}?'Modificar':'Guardar'"></p>
					
				</form>
				
			</div>
			
		</div>
        
	    <!-- Pie de Pagina -->
		<footer data-th-replace="~{/layouts/footer :: footer}" ></footer>
		
		</div>
		
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		
	    
	</body>
	
</html>